# 🔐 Environment
.env

# 🐍 Python
__pycache__/
*.py[cod]
*$py.class

# 🧪 Virtual Environment
venv/
.venv/

# 🗄️ Database
*.db

# 🧾 Logs
logs/
*.log

# 🧪 Testing
.pytest_cache/
.coverage
htmlcov/

# 📦 Build
build/
dist/
*.egg-info/

# 🧰 IDE
.vscode/
.idea/

# 🐧 OS
.DS_Store
Thumbs.db

# 🧠 Type checking
.mypy_cache/
